@model SiteX.Data.Models.Shop.Color
@{

    ViewData["Title"] = "Creating Size";
}
<form method="post" class="align-content-md-center">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

           <div class="pull-right postreply">
                <div class="pull-left"><button type="submit" class="btn btn-primary">Create Color</button></div>
                <div class="clearfix"></div>
            </div>

</form>