@model SiteX.Data.Models.Shop.Color
@{

    ViewData["Title"] = "Editing Location";
}

<form method="post" class=align-content-md-center>


    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>


    <input type="submit" class="btn btn-primary" />

</form>
