@{
    this.ViewData["Title"] = "Blog";
}
<div class="main-content col-md-8">
    <div id="category-container">


        <div class="category-wrap">
            <h2 class="h4 category-name"><span>Lifestyle</span></h2>

            <div class="row default-layout">


                <article class="col-sm-6 post-wrap">
                    <div class="featured-media ">
                        <a href="http://wp.gbjsolution.com/daily-news/plants-at-your-work-place-keeps-you-more-productive/">
                            <div class="image-container" style="background-image:url("http://wp.gbjsolution.com/daily-news/wp-content/uploads/sites/6/2016/03/pots-716579_1280-750x406.jpg")></div>
                        </a>
                        <div class="category-list">
                            <ul class="post-categories">
                                <li><a href="http://wp.gbjsolution.com/daily-news/category/lifestyle/" rel="category tag">Lifestyle</a></li>
                            </ul>
                        </div>
                    </div>
                    <h2 class="title h3"><a href="http://wp.gbjsolution.com/daily-news/plants-at-your-work-place-keeps-you-more-productive/">Plants At Your Work Place Keeps You More Productive</a></h2>
                    <div class="post-meta">

                        <span class="date">
                            <i class="fa fa-calendar-o"></i>
                            <a href="http://wp.gbjsolution.com/daily-news/plants-at-your-work-place-keeps-you-more-productive/">Mar 18, 2016</a>
                        </span>
                        
                    </div>
                    <div class="post-entry">
                        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vivamus a lectus vel lacus suscipit facilisis. Nulla convallis blandit mattis. Nulla a consectetur felis, non rhoncus</p>
                        <div><a class="permalink" href="http://wp.gbjsolution.com/daily-news/plants-at-your-work-place-keeps-you-more-productive/">Read More…</a></div>
                    </div>
                </article>	




                
                
                <article class="col-sm-6 post-wrap">
                    <div class="featured-media ">
                        <a href="http://wp.gbjsolution.com/daily-news/life-is-collection-of-moments-so-enjoy-every-moment-you-have/">
                            <div class="image-container" style="background-image: url(http://wp.gbjsolution.com/daily-news/wp-content/uploads/sites/6/2016/03/man-and-dog-1149400_1280-750x406.jpg);"></div>
                        </a>
                        <div class="category-list">
                            <ul class="post-categories">
                                <li><a href="http://wp.gbjsolution.com/daily-news/category/lifestyle/" rel="category tag">Lifestyle</a></li>

                            </ul>
                        </div>
                    </div>
                    <h2 class="title h3"><a href="http://wp.gbjsolution.com/daily-news/life-is-collection-of-moments-so-enjoy-every-moment-you-have/">Life Is Collection Of Moments So Enjoy Every Moment  You Have</a></h2>
                    <div class="post-meta">
                        <span class="date">
                            <i class="fa fa-calendar-o"></i>
                            <a href="http://wp.gbjsolution.com/daily-news/life-is-collection-of-moments-so-enjoy-every-moment-you-have/">Mar 18, 2016</a>
                        </span>
                        <span class="comment">
                            <i class="fa fa-comment-o"></i>
                            <a href="http://wp.gbjsolution.com/daily-news/life-is-collection-of-moments-so-enjoy-every-moment-you-have/#comments">2 Comments</a>

                        </span>
                    </div>
                    <div class="post-entry">

                        <p>ivamus ut rhoncus libero. Curabitur id sem odio. Morbi tempor libero massa, id iaculis odio eleifend eu. Maecenas rhoncus lobortis dui, eget luctus arcu vulputate at. Donec quis magna quis</p>
                        <div><a class="permalink" href="http://wp.gbjsolution.com/daily-news/life-is-collection-of-moments-so-enjoy-every-moment-you-have/">Read More…</a></div>
                    </div>
                </article>															<div class="clearfix"></div>
                 
            </div>

        </div>

        <div class="category-wrap">
            <h2 class="h4 category-name"><span>Technology</span></h2>

            <div class="row default-layout">
                <article class="col-sm-6 post-wrap">
                    <div class="featured-media ">
                        <a href="http://wp.gbjsolution.com/daily-news/internet-the-essential-thing-for-todays-students/">
                            <div class="image-container" style="background-image: url(http://wp.gbjsolution.com/daily-news/wp-content/uploads/sites/6/2016/03/ipad-1126136_1920-750x406.jpg);"></div>
                        </a>
                        <div class="category-list">
                            <ul class="post-categories">
                                <li><a href="http://wp.gbjsolution.com/daily-news/category/technology/" rel="category tag">Technology</a></li>

                            </ul>
                        </div>
                    </div>
                    <h2 class="title h3"><a href="http://wp.gbjsolution.com/daily-news/internet-the-essential-thing-for-todays-students/">Internet, The Essential Thing For Today’s Students</a></h2>
                    <div class="post-meta">
                        <span class="date">
                            <i class="fa fa-calendar-o"></i>
                            <a href="http://wp.gbjsolution.com/daily-news/internet-the-essential-thing-for-todays-students/">Mar 18, 2016</a>
                        </span>
                        <span class="comment">
                            <i class="fa fa-comment-o"></i>
                            <a href="http://wp.gbjsolution.com/daily-news/internet-the-essential-thing-for-todays-students/#respond">0 Comments</a>

                        </span>
                    </div>
                    <div class="post-entry">

                        <p>Praesent rhoncus libero pellentesque, ullamcorper risus ac, rutrum orci. Donec id justo egestas, vestibulum nibh non, feugiat massa. Donec justo nisl, blandit a est eget, accumsan vestibulum leo. Fusce non</p>
                        <div><a class="permalink" href="http://wp.gbjsolution.com/daily-news/internet-the-essential-thing-for-todays-students/">Read More…</a></div>
                    </div>
                </article>													<article class="col-sm-6 post-wrap small-entry clearfix">
                    <div class="featured-media">
                        <a href="http://wp.gbjsolution.com/daily-news/modern-technology-which-is-inspired-by-human/">
                            <div class="image-container" style="background-image: url(http://wp.gbjsolution.com/daily-news/wp-content/uploads/sites/6/2016/03/acer-791027_1280-105x77.jpg);"></div>
                        </a>
                    </div>
                    <div class="post-details">
                        <div class="category-list">
                            <ul class="post-categories">
                                <li><a href="http://wp.gbjsolution.com/daily-news/category/technology/" rel="category tag">Technology</a></li>

                            </ul>
                        </div>
                        <h2 class="title h5"><a href="http://wp.gbjsolution.com/daily-news/modern-technology-which-is-inspired-by-human/">Modern Technology Which Is Inspired By Human</a></h2>
                        <div class="post-meta">
                            <span class="date">
                                <i class="fa fa-calendar-o"></i>
                                <a href="http://wp.gbjsolution.com/daily-news/modern-technology-which-is-inspired-by-human/">Mar 18, 2016</a>
                            </span>
                            <span class="comment">
                                <i class="fa fa-comment-o"></i>
                                <a href="http://wp.gbjsolution.com/daily-news/modern-technology-which-is-inspired-by-human/#respond">0 Comments</a>
                            </span>
                        </div>
                    </div>
                 
            </div>

        </div>

    </div>
</div>

</div>