@model SiteX.Data.Models.Article.Article;
@{
    this.ViewData["Title"] = "Creating Article";

}
<script src="~/lib/ckeditor5/ckeditor.js"></script>

<form method="post" class=align-content-md-center>

    <div class="form-group">
        <label asp-for="Title"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

      <div class="form-group">
        <label asp-for="Abstract"></label>
        <input asp-for="Abstract" class="form-control" />
        <span asp-validation-for="Abstract" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="IdLink"></label>
        <input asp-for="IdLink" class="form-control" />
        <span asp-validation-for="IdLink" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Url"></label>
        <input asp-for="Url" class="form-control" />
        <span asp-validation-for="Url" class="text-danger"></span>
    </div>

    <input type="submit" class="btn btn-primary" />

</form>


<script>
    ClassicEditor
        .create( document.querySelector( '#Abstract' ) )
        .catch( error => {
            console.error( error );
        } );
</script>
