@{
    this.ViewData["Title"] = "Shop Main page";
}
<div class="album py-5 bg-light">
    <div class="container">

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
                <div class="card shadow-sm">
                    <img src="https://cdn.shopify.com/s/files/1/0156/6146/products/TrainingOversizedSweatshirtMayaBlueB2A8K-B2A8K-UBF2.A_ZH_ZH_600x.jpg?v=1644430270" class="card-img-top" alt="ProductName">

                    <div class="card-body">
                        <a title="item" href="https://www.gymshark.com/products/gymshark-pause-zip-up-jacket-maya-blue-ss22" class="btn btn-primary stretched-link">Buy</a>

                        <p class="card-text">ItemName</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">Category1</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Category2</button>
                            </div>
                            <small class="text-muted">Size Big</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <img src="https://cdn.shopify.com/s/files/1/0156/6146/products/TrainingOversizedSweatshirtMayaBlueB2A8K-B2A8K-UBF2.A_ZH_ZH_600x.jpg?v=1644430270" class="card-img-top" alt="Training Oversized Sweatshirt">
                    <div class="card-body">
                        <a title="item" href="https://www.gymshark.com/products/gymshark-pause-zip-up-jacket-maya-blue-ss22" class="btn btn-primary stretched-link">Buy</a>
                        <p class="card-text">Item 1</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">Category1</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Category2</button>
                            </div>
                            <small class="text-muted">Size</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <img src="https://cdn.shopify.com/s/files/1/0156/6146/products/TrainingOversizedSweatshirtMayaBlueB2A8K-B2A8K-UBF2.A_ZH_ZH_600x.jpg?v=1644430270" class="card-img-top" alt="Training Oversized Sweatshirt">
                    <div class="card-body">
                        <a title="item" href="https://www.gymshark.com/products/gymshark-pause-zip-up-jacket-maya-blue-ss22" class="btn btn-primary stretched-link">Buy</a>
                        <p class="card-text">Item 1</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">Category1</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Category2</button>
                            </div>
                            <small class="text-muted">Size</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
                <div class="card shadow-sm">
                    <img src="https://cdn.shopify.com/s/files/1/0156/6146/products/TrainingOversizedSweatshirtMayaBlueB2A8K-B2A8K-UBF2.A_ZH_ZH_600x.jpg?v=1644430270" class="card-img-top" alt="Training Oversized Sweatshirt">
                    <div class="card-body">
                        <a title="item" href="https://www.gymshark.com/products/gymshark-pause-zip-up-jacket-maya-blue-ss22" class="btn btn-primary stretched-link">Buy</a>
                        <p class="card-text">Item 1</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">Category1</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Category2</button>
                            </div>
                            <small class="text-muted">Size</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <img src="https://cdn.shopify.com/s/files/1/0156/6146/products/TrainingOversizedSweatshirtMayaBlueB2A8K-B2A8K-UBF2.A_ZH_ZH_600x.jpg?v=1644430270" class="card-img-top" alt="Training Oversized Sweatshirt">
                    <div class="card-body">
                        <a title="item" href="https://www.gymshark.com/products/gymshark-pause-zip-up-jacket-maya-blue-ss22" class="btn btn-primary stretched-link">Buy</a>
                        <p class="card-text">Item 1</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">Category1</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Category2</button>
                            </div>
                            <small class="text-muted">Size</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <img src="https://cdn.shopify.com/s/files/1/0156/6146/products/TrainingOversizedSweatshirtMayaBlueB2A8K-B2A8K-UBF2.A_ZH_ZH_600x.jpg?v=1644430270" class="card-img-top" alt="Training Oversized Sweatshirt">
                    <div class="card-body">
                        <a title="item" href="https://www.gymshark.com/products/gymshark-pause-zip-up-jacket-maya-blue-ss22" class="btn btn-primary stretched-link">Buy</a>
                        <p class="card-text">Item 1</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">Category1</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Category2</button>
                            </div>
                            <small class="text-muted">Size</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</div>